:root {
	/*Change the background color of just the toolbar*/
	--toolbar-bgcolor: @background@ !important;
	--background-color-box: @background@ !important;
	--input-color: @foreground@ !important;
	--toolbar-field-color: @foreground@ !important;
  --toolbarbutton-icon-fill: @foreground@ !important;

	/*change the default blue accent color in many different elements.*/
	/*--lwt-accent-color: @accent@ !important;*/

	/*Color the tabstrip background*/
	--chrome-background-color: @background@ !important;

	/*Color the background of the selected tab*/
	/*--tab-selection-background-color: <COLOR> !important;*/

	/*Color the background of a hovered tab. not sure if this still works.*/
	/*--tab-hover-background-color: #45545E !important;*/

	/*Background color of the toolbar and urlbar wrapper*/
	--chrome-secondary-background-color: @background-hl@ !important;

	/*--url-and-searchbar-background-color: <COLOR> !important;*/

	/*color of highlighted text in the urlbar, searchbar, and other UI elements*/
	/*--chrome-selection-background-color: <COLOR> !important;*/

	/*color of the urlbar border*/
	--chrome-nav-bar-controls-border-color: @background-hl@ !important;

	/*color of the "tab-burst" effect you see when a tab finishes loading*/
	/*--tab-loading-fill: <COLOR> !important;*/
}

/*#TabsToolbar {*/
  /*visibility: collapse !important;*/
/*}*/

/*#urlbar-searchmode-switcher {*/
  /*visibility: collapse !important;*/
/*}*/

#urlbar {
  padding-left: 5px;
}
.urlbarView {
  display: none !important;
}
.urlbar-background {
  display: none !important;
}

/*::selection {*/
    /*background: #FF0099;*/
    /*color: black;*/
    /*text-shadow: none;*/
/*}*/

/*#urlbar-container,*/
/*#urlbar{*/
  /*position: static !important;*/
  /*display: flex !important;*/
/*}*/
/*#urlbar{*/
  /*height: auto !important;*/
  /*width: auto !important;*/
  /*flex-grow: 1;*/
/*}*/
/*#urlbar-background,*/
/*.urlbarView{*/
  /*display: none !important;*/
/*}*/

/*.urlbar-background[open] {*/
  /*background-color: green;*/
/*}*/
/*#urlbar > #urlbar-input-container{*/
  /*padding: 0px !important;*/
  /*width: auto !important;*/
  /*height: auto !important;*/
  /*flex-grow: 1;*/
  /*background: var(--toolbar-field-background-color, hsla(0,0%,100%,.8));*/
  /*box-shadow: inset 0 0 0 1px var(--toolbar-field-border-color, hsla(240,5%,5%,.25));*/
/*}*/

/*#urlbar[breakout],*/
/*#urlbar[breakout][breakout-extend] {*/
  /*display: none !important;*/
  /*[>--urlbar-height: 28px !important;<]*/
  /*[>--urlbar-toolbar-height: 30px !important;<]*/

  /*[>width: 100% !important;<]*/
  /*[>top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;<]*/
  /*[>left: 0 !important;<]*/
/*}*/

/*#urlbar[breakout][breakout-extend] > #urlbar-input-container,*/
/*#urlbar-input-container {*/
  /*height: var(--urlbar-height) !important;*/
  /*width: 100% !important;*/
  /*padding-block: unset !important;*/
  /*padding-inline: unset !important;*/
  /*transition: none !important;*/
/*}*/

/*#urlbar[breakout][breakout-extend] > #urlbar-background {*/
  /*box-shadow: 0 1px 4px rgba(0,0,0,.05) !important;*/
  /*animation: none !important;*/
/*}*/

/*#browser {*/
	/*-moz-box-ordinal-group: 0 !important;*/
/*}*/

/*:root[sizemode="normal"] #browser {*/
	/*padding-top: 8px;*/
/*}*/

/*[> hide tab toolbar when fullscreen <]*/
/*#nav-bar[inFullscreen],*/
/*#TabsToolbar[inFullscreen] {*/
	/*display: none;*/
/*}*/

/*[> hide titlebar buttons <]*/
/*#TabsToolbar > .titlebar-buttonbox-container {*/
	/*display: none !important;*/
/*}*/

/*[> remove gaps in tab bar start and end <]*/
/*.titlebar-spacer[type="pre-tabs"] {*/
	/*display: none !important;*/
/*}*/

/*#urlbar {*/
    /*top: unset !important;*/
    /*bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;*/
    /*box-shadow: none !important;*/
    /*display: flex !important;*/
    /*flex-direction: column !important;*/
/*}*/

/*#urlbar-input-container {*/
    /*order: 2;*/
/*}*/

/*#urlbar > .urlbarView {*/
    /*order: 1;*/
    /*border-bottom: 1px solid #666;*/
/*}*/

/*#urlbar-results {*/
    /*display: flex;*/
    /*flex-direction: column-reverse;*/
/*}*/

/*.titlebar-spacer[type="post-tabs"] {*/
	/*width: 8px !important;*/
/*}*/

  /*#urlbar[breakout][breakout-extend] {*/
    /*color: green;*/
    /*background-color: yellow;*/
    /*top: 5px !important;*/
    /*left: 0px !important;*/
    /*width: 100% !important;*/
    /*padding: 0px !important;*/
  /*}*/

  /* Prevent shift of URL bar contents */

  /*#urlbar[breakout][breakout-extend] > #urlbar-input-container {*/
    /*height: var(--urlbar-height) !important;*/
    /*padding: 0 !important;*/
  /*}*/

  /*[> Do not animate <]*/

  /*#urlbar[breakout][breakout-extend] > #urlbar-background {*/
    /*animation: none !important;;*/
  /*}*/

  /*[> Remove shadows <]*/

  /*#urlbar[breakout][breakout-extend] > #urlbar-background {*/
    /*box-shadow: none !important;*/
  /*}*/
